* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'ABeeZee';
    background-color: whitesmoke;
}



/* Utilities */

/* scrollbar */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.2rem;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid transparent;
  }

/* anchor */
a {
    text-decoration: none;
}

/* icons */

/* buttons as icon */
.btn-icon {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color:#e2e8dd;
    cursor: pointer;
    transition: 0.1s ease-in-out color;
}

.btn-icon:hover {
    color: #4E5340;
}

.btn-icon:focus{
    outline: none;
}

/* pop block */

.pop-block{
    display: none;
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    position: absolute;
    z-index: 1;
    right: 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    color:#333;
    transition: 0.2s ease-in-out all;
}


.highlight{
    color:#4E5340;
}

.note{
    font-size: 0.9rem;
    color:green;
}

/* margin */
.m-1{
    margin:1rem 0;
}

 


/* Code canvas */

.code-canvas{
    background:rgb(228, 228, 228);
    color:black;
    padding:1rem;
    margin: 0.5rem 0;
    border-radius: 0.7rem;
}

.output-canvas{
    background:rgb(228, 228, 228);
    color:black;
    padding:1rem;
    margin: 0.5rem 0;
    border-radius: 0.7rem;
}

.keyword{
    color:purple;
}
.headerFile{
    color:palevioletred;
}
.variableNames{
    color:green;
}


/* Components */




nav .navbar{
    /* width: 100vw;     */
    background-color: #697268;
    padding:1rem 0.7rem;
    display: flex;
    justify-content: space-between;
}




.container{
   display: flex;
   flex-direction: column;
}

.container main{
    display: flex;
    flex-direction: row;
}

main aside{
    width: 15vw;
    padding: 1rem;
    
    text-align: center;
}

main aside .table-of-content .menu{
    text-align: justify;
    padding: 0.5rem 0.5rem;
}

main aside .table-of-content .menu li{
    margin: 1rem 1rem;
}

/* color links */
main aside .table-of-content .menu li a{
    color:purple;
}



main section{
    width: 85vw;
    padding: 1rem;
    text-align: justify;
}



footer{
    text-align: center;
    padding: 1rem 0;
}


